<p id="notice">Book was successfully created.</p>



    <tr>
      <td><strong>Title</strong><%= @list.title %></td>
      <td><strong>Body</strong><%= @list.body %></td>
      <td><%= link_to 'Edit', edit_path(@list.id) %></td>
      <td><%= link_to 'Back', "/books" %></td>
    </tr>
